<p>{{ record.name }}</p>
<p>{{ record.date }}</p>
<p>{{ record.amount }}</p>
   
<a href="/records/{{ record._id }}/edit">edit</a>
<form action="/records/{{ record._id }}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>
<a href="/">back</a>