<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto me-auto">        
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
          {{ this.date }}
          {{ this.amount }}        
      </div>
      <div class="col-auto">
        <a class="btn btn-success" href="./todrecordss/{{ this._id }}/edit">edit</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  {{/each}}
</ul>