<a href="./records/new">Create</a>
<ul>
  {{#each items}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.amount}}
    <a href="./records/{{ this._id }}">detail</a>
    <a href="./records/{{ this._id }}/edit">edit</a>
  </li>
  {{/each}}
</ul>