<div class=" col-12 d-flex justify-content-center">
  <div class="sort">
    {{!-- <form class="form-inline" method="GET" action="/records/">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>類別</option>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
      </select>
    </form> --}}
  </div>

  <div class="amount">

  </div>

  <div class="col-9">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item m-4 my-1" style="box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); border-radius: 10px;">
        <div class="row">
          <div class="col-9 row align-items-center justify-content-around">
            <div class="col-2 text-center" style="font-size: 30px; ">
              <i class="{{this.icon}}"></i>
            </div>
            <div class="col-6 d-flex flex-column">
              <div>
                <h4>{{this.name}}</h4>
              </div>
              <div>{{this.date}}</div>
            </div>
            <div class="col-auto align-items-center">
              <h3>${{this.amount}}</h3>
            </div>
          </div>
          <div class="col-3 justify-content-evenly align-items-center" style="display: inline-flex;">
            <a href="/records/{{ this._id }}/edit">
              <button class="btn btn-success ">edit</button>
            </a>
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-danger" type="submit">delete</button>
            </form>
          </div>
        </div>
        {{/each}}
    </ul>
  </div>
</div>